/* ----------------------------------- */
/* COMMON / RESETS
/* ----------------------------------- */
#sunshine ol, #sunshine ul, #sunshine li, #sunshine table, #sunshine th, #sunshine td, #sunshine fieldset { margin: 0; padding: 0; background: none; border: none; }
div.sunshine-clear { clear: both; overflow: hidden; height: 1px; }
.sunshine-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .sunshine-clearfix { display: block; }
* html .sunshine-clearfix { height: 1%; }

#sunshine .sunshine-button { border: none; cursor: pointer; background: #666; padding: 8px 15px; color: #FFF; text-transform: uppercase; text-decoration: none; font-size: 15px; border-radius: 3px; text-shadow: none; }
#sunshine .sunshine-button:hover { background: #000; color: #FFF; text-decoration: none; }
#sunshine .sunshine-button-alt, #sunshine #sunshine-submit { border: none; cursor: pointer; background: #CCC; color: #666; border-radius: 3px; padding: 5px 10px; text-shadow: none; }
#sunshine .sunshine-button-alt:hover, #sunshine #sunshine-submit:hover { background: #999; color: #FFF; text-decoration: none; }


/* ----------------------------------- */
/* MAIN
/* ----------------------------------- */
.sunshine-sidebar #sunshine-main { width: 75%; float: left; }
#sunshine-sidebar { width: 20%; float: right; }
#sunshine-sidebar .sunshine-widget { margin: 0 0 40px 0; }

#sunshine { line-height: 1.4; max-width: 1140px; margin: 30px auto; }
#sunshine h1 { font-size: 24px; margin: 0 0 20px 0; }
#sunshine h2 { font-size: 20px; margin: 0 0 15px 0; }
#sunshine h3 { font-size: 14px; margin: 0 0 15px 0; }
#sunshine p { margin: 0 0 15px 0; }
#sunshine li { margin: 0 0 7px 15px; }
#sunshine a { box-shadow: none; }

/* Home Content or Gallery Description */
#sunshine-content { margin: 0 0 25px 0; }

#sunshine-breadcrumb { margin: 0 0 15px 0; font-size: 12px; }

/* Gallery List */
#sunshine #sunshine-gallery-list, #sunshine-gallery-list ul { width: 100%; margin: 0 0 30px 0 !important; }
#sunshine #sunshine-gallery-list ul li { float: left; list-style: none !important; margin: 0 0 30px 0; }
#sunshine #sunshine-gallery-list .sunshine-col-2 li { width: 48%; margin-left: 4%; }
#sunshine #sunshine-gallery-list .sunshine-col-3 li { width: 30%; margin-left: 5%; }
#sunshine #sunshine-gallery-list .sunshine-col-4 li { width: 22%; margin-left: 4%; }
#sunshine #sunshine-gallery-list .sunshine-col-5 li { width: 16%; margin-left: 5%; }
#sunshine #sunshine-gallery-list .sunshine-col-2 li:nth-child(odd),
#sunshine #sunshine-gallery-list .sunshine-col-3 li:nth-child(3n+1),
#sunshine #sunshine-gallery-list .sunshine-col-4 li:nth-child(4n+1),
#sunshine #sunshine-gallery-list .sunshine-col-5 li:nth-child(5n+1) { clear: left; margin-left: 0; }
.sunshine-masonry #sunshine #sunshine-gallery-list li.sunshine-gallery-thumbnail { clear: none; }
.sunshine-masonry #sunshine #sunshine-gallery-list .sunshine-col-2 li { width: 48%; margin: 0 1% 20px 1%; }
.sunshine-masonry #sunshine #sunshine-gallery-list .sunshine-col-3 li { width: 31.3333%; margin: 0 1% 20px 1%; }
.sunshine-masonry #sunshine #sunshine-gallery-list .sunshine-col-4 li { width: 23%; margin: 0 1% 20px 1%; }
.sunshine-masonry #sunshine #sunshine-gallery-list .sunshine-col-5 li { width: 20%; margin: 0 1% 20px 1%; }

#sunshine #sunshine-gallery-list li a { margin: 0; padding: 0; }
#sunshine #sunshine-gallery-list li img { width: 100%; height: auto; margin: 0 0 10px 0; }
#sunshine #sunshine-gallery-list li h2 { font-weight: bold; font-size: 16px; margin: 0; line-height: 1.05; }
#sunshine #sunshine-gallery-list li.password-required h2:before { content: "\f023"; font-family: "FontAwesome"; color: #CCC; }
#sunshine #sunshine-gallery-list li h2 a { text-decoration: none; }

/* Gallery Images */
#sunshine #sunshine-image-list, #sunshine #sunshine-image-list ul { width: 100%; clear: left; margin: 0 0 30px 0; padding: 0; }
#sunshine #sunshine-image-list li { float: left; list-style: none !important; margin: 0 0 30px 0; position: relative; text-align: center; }
#sunshine #sunshine-image-list .sunshine-col-2 li { width: 48%; margin-left: 4%; }
#sunshine #sunshine-image-list .sunshine-col-3 li { width: 30%; margin-left: 5%; }
#sunshine #sunshine-image-list .sunshine-col-4 li { width: 22%; margin-left: 4%; }
#sunshine #sunshine-image-list .sunshine-col-5 li { width: 16%; margin-left: 5%; }
#sunshine #sunshine-image-list .sunshine-col-2 li:nth-child(odd),
#sunshine #sunshine-image-list .sunshine-col-3 li:nth-child(3n+1),
#sunshine #sunshine-image-list .sunshine-col-4 li:nth-child(4n+1),
#sunshine #sunshine-image-list .sunshine-col-5 li:nth-child(5n+1) { clear: left; margin-left: 0; }

.sunshine-masonry #sunshine #sunshine-image-list li.sunshine-image-thumbnail { clear: none !important; margin: 0 0 2px 0; }
.sunshine-masonry #sunshine #sunshine-image-list .sunshine-col-2 li.sunshine-image-thumbnail { width: 50%; }
.sunshine-masonry #sunshine #sunshine-image-list .sunshine-col-3 li.sunshine-image-thumbnail { width: 33.3333%; width: calc( 100% / 3 ); }
.sunshine-masonry #sunshine #sunshine-image-list .sunshine-col-4 li.sunshine-image-thumbnail { width: 25%;  }
.sunshine-masonry #sunshine #sunshine-image-list .sunshine-col-5 li.sunshine-image-thumbnail { width: 20%; }
.sunshine-masonry #sunshine #sunshine-image-list li img { display: block; width: 99%; height: auto; }

#sunshine #sunshine-image-list li .sunshine-image-name { font-size: 11px; color: #999; margin: 0 0 10px 0; }

#sunshine #sunshine-image-list li img { max-width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 1; }

/*#sunshine #sunshine-image-list ul { margin-top: 15px; }*/
#sunshine #sunshine-image-list ul:hover li { opacity: .6; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
#sunshine #sunshine-image-list ul:hover li:hover { opacity: 1; }

#sunshine #sunshine-image-list .sunshine-image-menu-container { /* Show on hover opacity: 0;*/ text-align: left; position: absolute; top: 0; left: 10px; margin: 0; padding: 0; z-index: 10; }
#sunshine #sunshine-image-list li:hover .sunshine-image-menu-container { opacity: 1; }
#sunshine #sunshine-image-list .sunshine-image-thumbnail:hover .sunshine-image-menu a { opacity: 1; }
#sunshine #sunshine-image-list .sunshine-image-menu li { opacity: 1 !important; width: auto !important; margin: 0 4px 0 0 !important; text-align: left; font-size: 11px; clear: none !important; }
#sunshine #sunshine-image-list .sunshine-image-menu li a { display: block; }
#sunshine #sunshine-image-list .sunshine-image-menu li i { background: rgba(0,0,0,.3); color: #FFF; padding: 5px; font-size: 13px; border-radius: 0 0 3px 3px;  }
#sunshine #sunshine-image-list .sunshine-image-menu li a:hover i { background: #000; }
#sunshine #sunshine-image-list .sunshine-image-menu li span { display: none; }
/* Below Image
#sunshine #sunshine-gallery-images .sunshine-image-menu-container { text-align: center; }
#sunshine #sunshine-gallery-images .sunshine-image-menu-container .sunshine-image-menu { margin: 0; padding: 0; }
#sunshine #sunshine-gallery-images .sunshine-image-menu-container .sunshine-image-menu li { float: none; width: auto; display: inline-block; margin: 0 5px !important; }
*/
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-favorite .sunshine-image-menu a.add-to-favorites,
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-has-comments .sunshine-image-menu .sunshine-comments a,
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-in-cart .sunshine-image-menu .sunshine-purchase a { opacity: 1; }
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-favorite .sunshine-image-menu a.add-to-favorites i,
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-has-comments .sunshine-image-menu .sunshine-comments a i,
#sunshine #sunshine-image-list li.sunshine-image-thumbnail.sunshine-in-cart .sunshine-image-menu .sunshine-purchase a i { background: #FFF; color: #000; }
.sunshine-lightbox-status-message { padding-left: 15px; font-weight: bold; color: #00ae08; }
.sunshine-lightbox-status-error { padding-left: 15px; font-weight: bold; color: #FF0000; }
.sunshine-lightbox-product-action span.sunshine-lightbox-status-error { display: block; padding: 0; }

/* Pagination */
.sunshine-pagination { text-align: center; padding: 10px 0 0 0; border-top: 1px solid #CCC; clear: both; }
.sunshine-pagination a { text-decoration: none; padding: 3px 6px; margin: 0; }
.sunshine-pagination a.current { background: #333; color: #FFF; }

/* Password Protected Gallery */
.sunshine-gallery-password-hint { font-style: italic; color: #666; margin: 0 0 10px 0; }

/* Action Menu */
#sunshine .sunshine-action-menu { border-top: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF; margin: -10px 0 15px 0; padding: 10px 0; }
#sunshine .sunshine-action-menu li { list-style: none; float: left; margin: 0 20px 0 0; line-height: 1.4; }
#sunshine .sunshine-action-menu li a, .sunshine-action-menu li { color: #999; text-decoration: none; font-size: 12px; }
#sunshine .sunshine-action-menu li a i { font-size: 14px; margin-right: 4px; }
#sunshine .sunshine-action-menu li a:hover, #sunshine .sunshine-action-menu li a.sunshine-favorite { color: #000; }
#sunshine .sunshine-action-menu .sunshine-share-buttons { display: inline-block; margin: 0 0 0 5px; vertical-align: top; }
#sunshine .stButton .chicklets { margin: -1px 0 0 0; padding: 0 0 0 16px !important; }
#sunshine img { border: 0; padding: 0; box-shadow: none; }


/* Image Detail Page */
#sunshine h2 { clear: none; } /* Twenty Twelve */
/*#sunshine h2 span { text-transform: none; font-weight: normal; font-size: 75%; padding: 0 0 0 15px; }*/
#sunshine-add-form { width: 25%; float: left; }
#sunshine-image { max-width: 70%; float: right; text-align: center; }
#sunshine-image img { max-width: 100%; height: auto; margin: 0 auto; }
.hide-add-to-cart #sunshine-image, .proofing #sunshine-image { max-width: 100%; float: none; }
.sunshine-product-options {
	margin-top: 10px;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	padding: 10px 15px;
}
.sunshine-product-options:after, .sunshine-product-options:before {
	bottom: 100%;
	left: 35px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sunshine-product-options:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}
.sunshine-product-options:before {
	border-color: rgba(245, 20, 20, 0);
	border-bottom-color: #EFEFEF;
	border-width: 11px;
	margin-left: -11px;
}
.sunshine-product-option-error { font-size: 12px; color: #FF0000; display: block; }


#sunshine-next-prev { float: right; margin: 0; }
#sunshine-prev { padding-right: 10px; }

#sunshine-add-form ul { margin: 0 0 30px 0 !important; }
#sunshine-add-form li { list-style: none; margin-left: 0; }
#sunshine-add-form li h2 { font-weight: bold; font-size: 16px; }
#sunshine-add-form li .sunshine-product-price { font-style: italic; font-size: 11px; color: #666; }
#sunshine-add-form li .sunshine-product-desc-link, #sunshine-add-form li .sunshine-product-image-link { padding-left: 7px; font-size: 11px; }
#sunshine-add-form li .sunshine-product-category-select-desc, #sunshine-add-form li .sunshine-product-desc, #sunshine-add-form li .sunshine-product-desc p { font-size: 11px; color: #999; }
#sunshine-add-form li .sunshine-product-desc { display: none; margin-top: 5px; }
#sunshine-add-form input.sunshine-countdown { border: none; background: transparent; font-size: 12px; color: #000; font-style: italic; box-shadow: none; width: auto; display: inline; padding: 0; }

#sunshine-image-comments { clear: both; padding-top: 40px; }


/*
.sunshine-qty-input {height: 31px; overflow:hidden;zoom:1;position:relative;width:57px !important;margin-right:12px !important;min-width:inherit;}
.sunshine-qty-input input.sunshine-qty {height: 29px; float:left;width:18px;padding:0 9px;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;-moz-border-radius-topright:0px;-moz-border-radius-bottomright:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border:1px solid #bbbbbb;box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.2); text-align: center; }
.sunshine-qty-input input.sunshine-plus,.sunshine-qty-input input.sunshine-minus{padding:0;border:1px solid #bbbbbb;background:#ffffff;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background:-webkit-linear-gradient(#ffffff, #eeeeee);background:-moz-linear-gradient(center top, #ffffff 0%, #eeeeee 100%);background:-moz-gradient(center top, #ffffff 0%, #eeeeee 100%);box-shadow:inset 0 0 0 1px #ffffff;-webkit-box-shadow:inset 0 0 0 1px #ffffff;-moz-box-shadow:inset 0 0 0 1px #ffffff;color:#888888 !important;font-size:12px; width: 15px; height:16px !important;}
.sunshine-qty-input input.sunshine-plus:hover,.sunshine-qty-input input.sunshine-minus:hover{background:#fff;}
.sunshine-qty-input input.sunshine-plus{-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;position:absolute;top:0;left:37px;}
.sunshine-qty-input input.sunshine-minus{-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;-webkit-border-top-left-radius:0px;-webkit-border-top-right-radius:0px;-moz-border-radius-topleft:0px;-moz-border-radius-topright:0px;border-top-left-radius:0px;border-top-right-radius:0px;-webkit-border-top-left-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-topleft:0px;-moz-border-radius-bottomleft:0px;border-top-left-radius:0px;border-bottom-left-radius:0px;position:absolute;bottom:0;left: 37px;}
*/

#sunshine-add-form input.sunshine-countdown { border: none; background: transparent; font-size: 12px; color: #000; font-style: italic; box-shadow: none; width: auto; display: inline; padding: 0; }

/* Cart */
#sunshine table#sunshine-cart-items { width: 100%; border-bottom: 1px solid #CCC; margin: 0 0 20px 0; }
#sunshine table#sunshine-cart-items th { text-align: left; font-size: 11px; text-transform: uppercase; padding: 0 0 5px 0; border-bottom: 1px solid #CCC; }
#sunshine table#sunshine-cart-items th.sunshine-cart-qty { min-width: 50px; }
#sunshine table#sunshine-cart-items td { padding: 10px 0; vertical-align: middle; }
#sunshine table#sunshine-cart-items td.sunshine-cart-item-image img { max-width: 100px; max-height: 100px; }
#sunshine table#sunshine-cart-items td.sunshine-cart-item-qty input.sunshine-qty { text-align: center; font-size: 16px; width: 30px !important; box-shadow: none !important; background: #FFF !important; color: #000 !important; padding: 0 !important; }
#sunshine table#sunshine-cart-items th.sunshine-cart-total, #sunshine table#sunshine-cart-items td.sunshine-cart-item-total { text-align: right; }
#sunshine table#sunshine-cart-items td.sunshine-cart-item-name h2 { font-weight: bold; font-size: 15px; }
#sunshine #sunshine-cart-totals { max-width: 50%; float: right; }
#sunshine #sunshine-cart-totals table { margin: 0 0 15px 0; float: right; }
#sunshine #sunshine-cart-totals th, #sunshine-cart-totals td { font-size: 15px; }
#sunshine #sunshine-cart-totals th { text-align: left; }
#sunshine #sunshine-cart-totals td { text-align: right; padding: 0 0 5px 10px; white-space: nowrap; }
#sunshine #sunshine-cart-totals .sunshine-total th, #sunshine #sunshine-cart-totals .sunshine-total td { font-size: 18px; font-weight: bold; }
#sunshine #sunshine-cart-checkout-button { clear: both; }
#sunshine #sunshine-cart-checkout-button a { display: block; text-align: center; }
#sunshine #sunshine-cart-update-button { float: left; }
#sunshine #sunshine-cart-return { float: left; clear: left; margin-top: 10px; }
#sunshine #sunshine-add-discounts { float: left; clear: left; margin: 30px 0 0 0; }
#sunshine #sunshine-add-discounts h2, #sunshine #sunshine-add-discounts h3 { font-size: 12px; font-weight: bold; text-transform: uppercase; }
#sunshine #sunshine-add-discounts input[type="text"] { width: 150px; }
#sunshine #sunshine-add-discounts li { list-style: none; margin: 0 0 5px 0; }
#sunshine #sunshine-applied-discounts h3 { margin: 0 0 3px 0; }
#sunshine #sunshine-applied-discounts li span, #sunshine #sunshine-applied-discounts li span a { color: #666; font-size: 11px; }
#sunshine-cart-return { clear: left; }

/* Checkout */
/*
#sunshine-checkout-order-review { width: 15%; padding: 15px 25px; position: fixed; right: 4%; background: #f1f1f1; }
#sunshine-checkout-order-review h2 { font-weight: bold; font-size: 10px; text-transform: uppercase; padding: 0 0 4px 0; border-bottom: 1px solid #CCC; }
*/
#sunshine-checkout-login { background: #EFEFEF; padding: 15px 20px; margin: 0 0 20px 0; font-size: 80%; }

#sunshine-checkout-review-totals { width: 100%; }
#sunshine-checkout-review-totals th, #sunshine-checkout-review-totals td { padding: 0 0 4px 0; }
#sunshine-checkout-review-totals th { text-align: left; }
#sunshine-checkout-review-totals td { text-align: right; }
#sunshine-checkout-order-review td.sunshine-cart-item-image img { width: 50px; height: auto; }
#sunshine-checkout-order-review tr.sunshine-total th, #sunshine-checkout-order-review tr.sunshine-total td { font-size: 15px; font-weight: bold; }

#sunshine-checkout ol { margin: 0 0 30px 0 !important; }
#sunshine-checkout ol li { list-style: none; margin: 0 0 30px 0; }
#sunshine-checkout ol li li { margin: 0 0 5px 0; }
#sunshine-checkout ol li h2 { font-size: 14px; margin: 0 0 15px 0; }
#sunshine-checkout #sunshine-payment-credit { margin: 0 0 15px 0; }
#sunshine-checkout .sunshine-payment-method-description { display: inline; padding-left: 15px; font-size: 12px; color: #666; }

#sunshine-checkout-steps ul, #sunshine-checkout-steps ol, #sunshine-checkout-steps li { margin-left: 0 !important; padding-left: 0 !important; }

/* Account */
#sunshine-account-orders { margin: 0 0 25px 0; }

/* Order */
#sunshine-order-status, #sunshine-pickup-instructions { background: #CCC; margin: -20px -30px 20px -30px; padding: 10px 30px; }
#sunshine-order-status.sunshine-status-pending { background: #a47e3c; color: #FFF; }
#sunshine-order-status.sunshine-status-processing { background: #3a87ad; color: #FFF; }
#sunshine-order-status.sunshine-status-shipped { background: #468847; color: #FFF; }
#sunshine-order-status.sunshine-status-cancelled { background: #be4a48; color: #FFF; }

#sunshine.sunshine-order .sunshine-form h2 { font-size: 14px; }
#sunshine.sunshine-order .sunshine-form .field { font-size: 12px; }
#sunshine.sunshine-order .sunshine-form label { display: block; font-weight: bold; }
#sunshine-order-billing-fields { clear: left; width: 48%; float: left; margin: 0 0 20px 0; }
#sunshine-order-shipping-fields { width: 48%; float: right; }
#sunshine-order-cart-items { clear: both; }
#sunshine-order-totals table { margin: 0 0 15px 0; float: right; }
#sunshine-order-totals th, #sunshine-cart-totals td { font-size: 15px; }
#sunshine-order-totals th { text-align: left; }
#sunshine-order-totals td { text-align: right; padding: 0 0 5px 70px; }
#sunshine-order-totals .sunshine-total th, #sunshine-order-totals .sunshine-total td { font-size: 18px; font-weight: bold; }

#sunshine-order-comments { clear: both; }
#sunshine-order-comments ol li { list-style: none; }
#sunshine-order-comments label { display: block; }
#sunshine-order-comments .comment-author { font-weight: bold; }
#sunshine-order-comments .comment-meta, #sunshine-order-comments .comment-meta a { font-size: 11px; font-style: italic; color: #666; text-decoration: none; }

/* Packages */
#sunshine .sunshine-package { margin: 0 0 50px 0; }
#sunshine p.sunshine-package-price { font-size: 14px; font-weight: bold; }

#sunshine #sunshine-order-comments { clear: both; }
#sunshine #sunshine-order-comments ol li { list-style: none; }
#sunshine #sunshine-order-comments .comment-author { font-weight: bold; }
#sunshine #sunshine-order-comments .comment-meta, #sunshine-order-comments .comment-meta a { font-size: 11px; font-style: italic; color: #666; text-decoration: none; }

#sunshine #sunshine-package-select h2 { font-weight: bold; font-size: 16px; }
#sunshine #sunshine-package-select select { margin: 0 0 15px 0; }
#sunshine .sunshine-package-options ul li.sunshine-package-item-disabled { color: #999; font-style: italic; }
#sunshine table.sunshine-cart-package-items { width: auto; }
#sunshine #sunshine-cart-items td table.sunshine-cart-package-items td { padding: 0 15px 5px 0; }

/* Forms */
.sunshine-buttons { clear: both; padding: 20px 0 0 0; }
.sunshine-form h2 { font-size: 20px; font-weight: bold; padding: 0 0 5px 0;  margin: 0 0 15px 0; border-bottom: 1px solid #CCC; }
.sunshine-form h3 { font-weight: bold; text-transform: uppercase; }
.sunshine-form .field { margin: 0 0 15px 0; color: #666; }
.sunshine-form .field-left { width: 48%; float: left; clear: left; }
.sunshine-form .field-right { width: 48%; float: right; }
.sunshine-form .field-full { clear: both; }
.sunshine-form .field input[type="text"], .sunshine-form .field input[type="password"], .sunshine-form .field input[type="tel"], .sunshine-form .field select { width: 98%; padding: 4px 1%; }
.sunshine-form .field span.field-desc { font-size: 12px; color: #666; font-style: italic; }
.sunshine-form .field span.field-desc.error { font-weight: bold; color: #FF0000; }

/* Messages */
.sunshine-messages { padding: 10px 0; text-align: center; margin: 0 0 15px 0; }
.sunshine-messages ul { margin: 0 !important; }
.sunshine-messages li { list-style: none; color: #FFF; margin: 0; }
.sunshine-messages a { color: #FFF; font-weight: bold; }
#sunshine-messages { background: #00ae08; }
#sunshine-errors { background: #FF0000; }
#sunshine-messages li, #sunshine-messages a, #sunshine-errors li, #sunshine-errors a { color: #FFF; }

/* Main menu shortcode */
#sunshine .sunshine-main-menu { margin: 0 0 30px 0; text-align: center; }
#sunshine .sunshine-main-menu li { display: inline-block !important; margin: 0 10px !important; padding: 0 !important; }
.sunshine-main-menu .sunshine-count { display: inline-block; width: 16px; height: 16px; text-align: center; font-size: 9px; line-height: 17px; border-radius: 50%; background: #EFEFEF; margin-left: 5px; }


/* Sharing */
.sunshine-action-share, .sunshine-image-share, .sunshine-lightbox-share { position: relative; display: inline-block; }
#sunshine-action-menu ul.sunshine-share-links, .sunshine-lightbox-share-links { position: absolute; top: 100%; left: 0; z-index: 999; padding: 8px 15px; background: #FFF; }
#sunshine-action-menu ul.sunshine-share-links li, .sunshine-lightbox-share ul li { margin: 4px 0 0 0; }
#sunshine #sunshine-image-list .sunshine-image-menu li ul.sunshine-share-links { position: absolute; top: 23px; left: 0; z-index: 999; padding: 6px 10px !important; background: #FFF !important;  width: auto; }
#sunshine #sunshine-image-list .sunshine-image-menu li ul.sunshine-share-links li {  float: none; display: block; }
.sunshine-lightbox-share { font-size: 18px; margin-left: 15px; cursor: pointer; color: #666; }

.sunshine-lightbox-share-links { display: none; padding: 0; margin: 0; }
.sunshine-lightbox-share:hover .sunshine-lightbox-share-links { display: block; }
.sunshine-lightbox-share-links li { list-style: none; line-height: 1.2; text-align: left; }
.mfp-title .sunshine-lightbox-share-links li a { font-size: 12px; margin: 0; padding: 5px 10px; }

@media screen and (max-width: 600px) {
	#sunshine #sunshine-main #sunshine-gallery-list li { float: none; width: 100%; margin: 0 0 30px 0; }
	#sunshine #sunshine-main #sunshine-image-list li { float: none; width: 100%; margin: 0 0 30px 0; }
	#sunshine #sunshine-main #sunshine-image-list li .sunshine-image-menu li { width: 15px; float: left; margin: 0 5px 0 0; }
	#sunshine #sunshine-main #sunshine-cart-totals, #sunshine-main #sunshine-cart-totals table { float: none; clear: both; }
	#sunshine #sunshine-main #sunshine-add-form { width: 100%; float: none; }
	#sunshine #sunshine-main #sunshine-image { max-width: 100%; float: none; text-align: center; }
	#sunshine #sunshine-next-prev { float: none; margin: 0 0 10px 0; }
	#sunshine #sunshine-main h2 span { display: block; padding: 0; }

	.sunshine-product-category th { display: none; }
	.sunshine-product-category th:first-child { display: block; }

	.sunshine-lightbox-share { margin: 0 5px; }

	#sunshine-cart-items th { display: none; }
	#sunshine-cart-items td { display: block; text-align: left !important; padding: 0; }
	#sunshine-cart-items td:before { content: attr(data-label); font-size: 13px; font-weight: bold; display: block; width: 100%; }
	#sunshine-cart-items tr.sunshine-cart-item { border-top: 1px solid #CCC; }

    #sunshine #sunshine-cart-totals { max-width: 100%; }
}
@media screen and (max-width: 480px) {
	#sunshine .sunshine-form .field-left { width: 100%; float: none; clear: both; }
	#sunshine .sunshine-form .field-right { width: 100%; float: none; clear: both; }
	#sunshine #sunshine-checkout .sunshine-payment-method-description { display: block; padding-left: 0; }
}

/* ProPhoto Overrides */
.sunshine #sunshine .pp-img-protect { width: auto !important; }
